{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">КАТЕГОРИИ</h1>
    </div>

    {% if user.is_authenticated %}
        <div class="col-3 mb-5">
            <a class="btn btn-outline-primary" href="{% url 'catalog:category_create' %}">Добавить категорию</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            {% for object in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.title }}</h5>
                            <p class="card-text">{{ object.description|truncatewords:4 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}