{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Каталог</h1>
    </div>

    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'catalog:create' %}">Добавить запись</a>
    </div>
    
    <div class="container">
    <div class="row">
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4" style="width: 18rem;">
                    <img class="card-img-top"
                         src="{% mediapath object.preview_image %}"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title|title }}</h5>
                        <p class="card-text">{{ object.description|truncatewords:4 }}</p>
                        <p class="card-text">{{ object.category }}</p>
                        <a href="{% url 'catalog:product' object.pk %}"
                               class="btn btn-sm btn-outline-secondary">View</a>
                            <a href="{% url 'catalog:update' object.pk %}"
                               class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a href="{% url 'catalog:delete' object.pk %}"
                               class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    
{% endblock %}