{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">КАТАЛОГ</h1>
    </div>
    {% if user.is_authenticated %}
        <div class="col-3 mb-5">
            <a class="btn btn-outline-primary" href="{% url 'catalog:create' %}">Добавить запись</a>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            {% for object in object_list %}
                <div class="col-md-3">
                    <div class="card mb-3" style="width: 15rem;">
                        {% if object.preview_image %}
                            <img src="{% mediapath object.preview_image %}" class="img-fluid" alt="{{ object.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ object.title }}</h5>
                            <p class="card-text">{{ object.description|truncatewords:4 }}</p>
                            <p class="card-text">Категория: {{ object.category }}</p>

                            {% for version in object.version_set.all %}
                                {% if version.is_active %}
                                    <p>Актуальная версия: {{ version.version_number }}<p>
                                {% endif %}
                            {% endfor %}

                            <a href="{% url 'catalog:product' object.pk %}"
                               class="btn btn-sm btn-outline-secondary">View</a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'catalog:update' object.pk %}"
                                   class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a href="{% url 'catalog:delete' object.pk %}"
                                   class="btn btn-sm btn-outline-danger">Delete</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}