{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="header" style="width: 50rem;">
                    <img class="card-img-top"
                         src="{% mediapath object.preview_image %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">{{ object.title|title }}</h2>
                        <h5 class="card-title">Категория: {{ object.category }}</h5>
                        <p class="card-text">{{ object.description }}</p>
                        <p class="card-text">Цена за кг - {{ object.price }} рублей</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}